div.boards-fiter ul, .bottom-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.boards-fiter button.filter {
    display: inherit;
    margin: auto;
    background: transparent;
    border: none;
    background-image: url(../../../Asset//Images/arrow-down.png);
    background-repeat: no-repeat;
    background-position: 135px 12px;
    width: 100%;
    background-size: 13px;
    outline: none;
    padding-right: 25px;
    font-size: 18px;
    font-family: "Helvetica-light";
}
.dragDrop {
    border: 1px solid #e7e7e7;
    padding: 14px 0px;
    height: 780px;
}
div.boards-fiter ul li {
    display: inline-block;
    margin-right: 10px;
}
div.boards-fiter ul li:last-child {
    margin-right: 0px;
}
div.boards-fiter h4{
    font-family: "Helvetica-Bold";
    font-size: 20px;
}
div.boards-fiter li img {
    width: 36px;
    height: auto;
    cursor: pointer;
}
.bottom-icons{
    text-align: center;
}
.bottom-icons img {
    width: 12px;
    height: auto;
    cursor: pointer;
}
.bottom-icons ul li {
    display: inline-block;
    margin: 0 3px;
}
.middle-body{
    min-height: 600px;
}

.board-tilte{
    margin: 7px !important;
}
/* @media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1225px !important;
    min-height: 770px !important;
}} */

h4{
font-family: "Helvetica-Bold";
}