@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");


.home-area-shop {
    background-image: url(../../Asset/Images/Shop-head.png) !important;
    width: 100%;
    height: 85vh!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    text-align: center;
  }

  @media screen and (max-width: 767px) and (min-width: 320px) {
    .home-area-shop {
      height: 47vh!important;
  }

  .post-slide-main {
    margin: 30px 0 45px !important;
}

  }