.ins-area {
  background: #f6f6f6;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.inspired {
  padding: 75px 0;
}

.slider img {
  width: 100%;
  height: 269px;
  object-fit: cover;
  object-position: 100% 0;
}

.arrow-slide img {
  width: 25px;
  height: auto;
}

.arrow-slide {
  position: absolute;
  top: 35%;
}

.slider {
  position: relative;
  margin-top: 25px;
}
.inspired h2.ins-title {
  color: #030303;
  font-family: "Playfair Display";
}