.image-post-slide {
  text-align: center;
}

.image-post-slide p {
  color: #4f4f4f;
  font-size: 20pt;
  font-family: "helvetica-light";
}
.shop-slider.bg_shop {
  background: #ebeae8;
}

/* shop slider start  */

.shop-slider {
  padding: 40px 0;
  background-color: #ebeae8;
}

.slider-main {
  position: relative;
}
.shop-more {
  position: relative;
}
.shop-more .go-btn {
  position: absolute;
  left: 45%;
  top: 14px;
}
