.ins-area {
  background: #f6f6f6;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ins-area-modal {
  background: #fff;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.inspired {
  padding: 75px 0;
}
.inspired-modal {
  padding: 0px 80px !important;
}

.slider img {
  width: 100%;
  height: 269px;
  object-fit: cover;
  object-position: 100% 0;
}

.slider-modal img {
  width: 100%;
  height: 269px;
  object-fit: cover;
  object-position: 100% 0;
}

.arrow-slide img {
  width: 25px;
  height: auto;
}

.arrow-slide {
  position: absolute;
  top: 35%;
}
.looks img {
  object-fit: contain;
  width: 100% !important;
  height: 315px !important;
}
.slider {
  position: relative;
  margin-top: 25px;
}
.slider-modal {
  position: relative;
  margin-top: 25px;
}
.inspired h2.ins-title {
  color: #030303;
  font-family: "Playfair Display";
}
.slide-desc h6{
  font-family: "Playfire Display";
}
.container-fluid.ins-area-modal .titleBer .ins-title span.trending {
  font-size: 1.75rem !important;
}

