.ins-area {
  background: #ebeae8;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: -18px;
}
.inspired {
  padding: 75px 0;
}
.slider img {
  width: 100%;
  height: 269px;
}

.arrow-slide img {
  width: 25px;
  height: auto;
}

.arrow-slide {
  position: absolute;
  top: 35%;
}

.slider {
  position: relative;
  margin-top: 25px;
}
.tab-index .slider{
  text-align: center;
}
.tab-index .slider h6 {
  margin-top: 15px;
  font-size: 18px;
  font-family: "Playfair Display";
  line-height: 24px;
}

.slide-desc {
  text-align: center;
  font-family: "Helvetica-light";
  font-size: 18px;
  color: #4f4f4f;
  margin-top: 15px;
}
.ins-area.margin-zero{
  margin-top: 0 !important;
}