.list-furniture ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 45px 0;
}

.list-furniture h4 {
    text-align: center;
    position: relative;
    font-size: 36pt;
    color: #030303;
    font-family: "PlayfairDisplay-Regular";
}
.list-furniture {
    margin-top: 40px;
}
.list-furniture.shopHead h4:before {
    margin-left: -15px;
}

span.bar {
    width: 16%;
    height: 3px;
    background: #d7d5d5;
    margin: auto;
    display: block;
    margin-bottom: 25px;
}