.ins-title {
    color: #030303;
    font-family: "PlayfairDisplay-Bold";
    font-size: 36px;
    padding-top: 10px;
  }
  .ber-slide {
    display: inline-block;
    /* width: 61%; */
    height: 3px;
    background: #d7d5d5;
    /* margin-left: 30px; */
    display: flex;
    margin-top: 45px;
  }
  
  .trending {
    float: left;
    margin-top: 15px;
    /* width: 36%; */
    margin-right: 20px
  }
  @media screen and (max-width: 767px) and (min-width: 320px){
    .ber-slide {
      margin-top: 30px;
  }
  .ins-title {
    font-size: 20px;
  }
  .container.inspired{
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top:0 !important ;
    padding-bottom: 0 !important;
  }
  }