.text-fav ul.menu-name li {
  display: inline-block;
}
.text-fav ul.menu-name {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}
.fill {
  background: red;
}
.text-fav {
  float: left;
}
.image-fav {
  position: relative;
}
span.icon {
  position: absolute;
  top: 4%;
  right: 5%;
}
.image-fav img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
.menu-name .board-error{
  font-family: "Helvetica-light";
  color: red;
}

/* .marginnine{
  margin-top: 190px !important;
} */
span.icon img {
  width: 25px;
  height: 25px;
}
.text-fav ul.menu-name li.select_design {
  border: none;
  background: #eae9e9;
  border-radius: 50px;
  padding: 13px 50px 13px 27px;
  outline: none;
}
select#cars,
select#cars:focus {
  background: transparent;
  border: none;
  outline-offset: 0;
  outline: none;
  font-family: "Helvetica-light";
  font-size: 20px;
  padding: 3px 25px;
  margin-right: 15px;
}
.text-fav h4 {
  color: #030303;
  font-size: 30pt;
  font-family: "PlayfairDisplay-Bold";
  margin: 15px 0 30px;
}
.text-fav span {
  color: #4f4f4f;
  font-family: "Helvetica-light";
  font-size: 20px;
}
li.saveSection .learn-more button {
  padding: 4px 20px !important;
  font-size: 20px;
  font-family: "Helvetica-Bold";
  margin-left: 10px;
}
.text-fav ul.menu-name li.saveSection {
  margin-left: -48px;
}
.inspire-ttl{
margin-top: auto;
margin-bottom: auto;
}
@media screen and (max-width: 1024px) and (min-width: 768px){
  .marginnine{
  margin-top: 190px !important;
}
}
@media screen and (max-width: 767px) and (min-width: 320px){
  span.icon {
    right: 15%;
  }
  .text-fav h4 {
    font-size: 18pt;
    margin: 10px 0;
}
.text-fav ul.menu-name li.saveSection {
  margin-left: 0;
  margin-top: 10px;
}
}