 .cross-icon, .shop-furniture .cross-icon {
    float: right;
}
.cross-icon img, .shop-furniture .cross-icon img {
    width: 20px;
    height: auto;
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.bg-white{
    padding-top: 40px;
}

.image-fav-modal img {
    width: 105%;
    height: 300px;
  }


  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .page-content{
        margin-top: 100px;
    }
  }
  
  @media screen and (max-width: 767px) and (min-width: 320px) {
    .page-content{
        margin-top: 100px;
    }
    .inspired-modal {
        padding: 0px 0px !important;
    }
    .shop-furniture {
        width: 100%;
    }
    ul.list-categroy-shop li button {
        background: #e9e8e8;
        border: none;
        width: 98px;
        margin-bottom: 10px;
        padding: 12px 0;
        font-size: 14px;
        border-radius: 22px;
        font-family: "Helvetica";
        outline: none;
    }
    .workimage img {
        width: 48%;
        margin-right: 5px;
  }
}