ul.list-category {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.inspired-fil {
  background: #ffffff;
}

ul.list-category li {
  width: 50%;
}
ul.list-category li button {
  background: #e9e8e8;
  border: none;
  width: 200px;
  margin-bottom: 21px;
  padding: 15px 0;
  font-size: 18px;
  border-radius: 50px;
  font-family: "Helvetica-light";
  outline: none;
}
