/*
    DEMO STYLE
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css");
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.no-padding{padding:0;}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-header .btn-info {
    color: #565656;
    background-color: transparent;
    border-color: #565656;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-header{}
.navbar-header button{background:#fff;color:#282828;border:1px solid #ddd;}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #7386D5;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #4FA1FF;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li ul li a{
   background:#7386D5;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6278d0;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
	width:100%;
}

.single-dashboard-menu-wrapper{min-height:110px;text-align:center;background:#ECF0F6;padding:20px 8px 8px 8px;margin-bottom:30px;}
.single-dashboard-menu-wrapper a i{width:40px;height:40px;background:#ECF0F6;border:1px solid #7386D5;border-radius:50%;text-align:center;color:#7386D5;line-height:38px;font-size:16px;}
.single-dashboard-menu-wrapper a{padding-top:5px;text-decoration:none;display:block;font-size:11px;color:#222;font-weight:300;}




.dashbox{padding:15px;margin-bottom:20px;}
.dashbox h3{margin-top:13px;}
.dashbox h3 i{color:#fff;width:45px;height:45px;background:rgba(5,5,5,0.4);border-radius:50%;line-height:45px;text-align:center;font-size:18px;}
.dashbox h4{color:#fff;font-weight:400;font-size:18px;}
.dashbox p{color:#fff;font-size:16px;}

.dbox-green{background:#12C8B1;}
.dbox-red{background:#F63B58;}
.dbox-yellow{background:#FFBC5C;}
.dbox-blue{background:#4FA1FF;}




.potrait-wrapper{ padding:15px;margin-bottom:35px;border:px solid #e7e7e7;}
.potrait-wrapper .img-wrapper{text-align:left;margin-bottom:30px;width:150px;}
.potrait-wrapper .img-wrapper img{width:100%;border:1px solid rgba(5,5,5,0.2);}
.potrait-wrapper table tr th{border:0;font-weight:400;border:0}
.potrait-wrapper table tr td{border:0;}


.panel-wrapper{
	background:#fff;
	margin-bottom:35px;
}
.panel-wrapper .panel-header{
	border-bottom:1px solid #f8f8f8;
	padding:13px;
}
.panel-wrapper .panel-header .action-btn-cover{margin:13px 10px 0 0px;}
.panel-wrapper .panel-header .action-btn-cover a{text-decoration:none;text-align:center;outline:0;}
.panel-wrapper .panel-header .action-btn-cover a i{line-height:30px;color:#222;background:#fff;border:1px solid #ddd;width:33px;height:33px;border-radius:50%;}

.panel-wrapper .panel-body{position:relative;}
.panel-wrapper .panel-body table tr{border:0;}
.panel-wrapper .panel-body table tr th{font-weight:400;border:0}
.panel-wrapper .panel-body table tr td{font-weight:300;font-size:13px;border:0}

.panel-wrapper .panel-header h3{
	font-family: 'Poppins', sans-serif;
	font-weight:300; 
}

.panel-header .btn-cover a{margin-top:15px;}

.form-tools-cover{}
.form-tools-cover label{font-weight:500;color:#6A6666;padding:10px 0;font-size:13px;}
.form-tools-cover{margin-top:35px;}
.form-tools-cover .input-group{width:100%;position:relative;}
.form-tools-cover .input-group label{position:absolute;top:-15px;left:0;transition:.5s;pointer-events:none;font-size:13px;}
.form-tools-cover .input-group input{width:100%;box-sizing:border-box;box-shadow:none;outline:none;border:none;border-bottom:1px solid #e8e8e8;}
.form-tools-cover .input-group input:focus ~ label,
.form-tools-cover .input-group input:valid ~ label
{top:-32px;left:0;color:#4DA0FF;font-size:12px;}

.form-tools-cover .input-group textarea{width:100%;height:100px;box-sizing:border-box;box-shadow:none;outline:none;border:none;border-bottom:1px solid #e8e8e8;}
.form-tools-cover .input-group textarea:focus ~ label,
.form-tools-cover .input-group textarea:valid ~ label
{top:-32px;left:0;color:#4DA0FF;font-size:12px;}
/** input text **/




/**file-upload-wrapper start**/
.file-upload-wrapper{margin-top:20px;background:#fff;border:3px dotted #ddd;border-radius:4px;}
.file-upload-wrapper .left-section{text-align:center;padding:120px 0 60px 0;position:relative;}
.file-upload-wrapper .left-section .icon-headline-wrapper h1{font-size:6em;}
.file-upload-wrapper .left-section .icon-headline-wrapper h1 i{color:#419CF5;}
.file-upload-wrapper .left-section .icon-headline-wrapper p{color:#787878;margin:50px 0 10px 0;}
.file-upload-wrapper .left-section .image-storage-wrapper{display:none;position:absolute;width:100%;min-height:200px; top:60px;left:0;}
.file-upload-wrapper .left-section .image-storage-wrapper img{width:170px;}
.file-upload-wrapper .left-section .input-file-cover{position:relative;}
.file-upload-wrapper .left-section .input-file-cover input[type="file"]{cursor:pointer;opacity:0;display:inline-block;margin-top:25px;position:absolute;width:30%;top:-25px;background:red;height:38px;}
.file-upload-wrapper .left-section .input-file-cover input[type="button"]{width:30%;margin:auto;background:#fff;border-radius:16px;border:1px solid #419CF5;color:#419CF5;}
.file-upload-wrapper .right-section{}
/**file-upload-wrapper close**/




/** buttons start **/
.button-cover{margin:25px 0;}
.button-cover .btn-save{background:#4FA1FF;border-radius:0;color:#fff;padding:10px 18px;margin:20px 0 20px 0;}
/** buttons close **/






/** datatable start **/
.table-wrapper{width:100%;margin-top:20px;}
.table-wrapper input[type="text"]{border:1px solid #e7e7e7;outline:0;padding:5px;}
.table{}
.table thead{}
.table thead tr{}
.table thead tr th{font-weight:400;font-size:12px;}
.table tbody tr td{font-weight:300;font-size:11px;}
.table tbody tr td i{font-weight:300;font-size:15px;background:#fff;border:1px solid #e8e8e8;text-align:center;color:#222;width:28px;height:28px;padding-top:5px;border-radius:3px;}
.table tbody tr td a.btn-proceed{font-weight:300;font-size:12px;background:#fff;border:1px solid #e8e8e8;text-align:center;color:#222;padding-top:5px;border-radius:3px;}
div.dataTables_wrapper div {width:100%;}
div.dataTables_wrapper div.dataTables_filter { float:right;width:300px;margin-bottom:20px;}
div.dataTables_wrapper div.dataTables_filter label {color:#222;font-weight:300;}
div.dataTables_wrapper div.dataTables_filter input {
    display: inline-block !important;
    width: auto !important;
    margin-bottom: 0;
    margin-left: 0.5em;
    border: 1px solid #e8e8e8;
	height: 35px;
	outline:none;
	padding:10px;
	
}

div.dataTables_wrapper div.dataTables_length { float:left;width:300px;margin-bottom:20px;}
div.dataTables_wrapper div.dataTables_length label {color:#222;font-weight:300;}
div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    margin-bottom: 0;
border: 1px solid #e8e8e8;margin:0 10px;}

table.dataTable.no-footer {
    border-bottom: 0; 
}
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-spacing: 0;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0; 
}
/** datatable close **/




/** breadecrumbs **/
.breadcrumb-wrapper{}
.breadcrumb-wrapper ol.breadcrumb{background:transparent;}

.payment-history-label{}
.payment-history-label p{font-size:12px;}







/** modals **/

.modal {
	padding:0;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	z-index:100000;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content{padding:0;}
/* The Close Button */

.modal-header{position:relative;}
.modal-header a{position:absolute;right:10px;top:10px;}
.modal-footer{}
.modal-footer .button-cover{margin:0;}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-footer{border:0;}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/**modal close**/




















/* tab */
.tab_container {
	width: 100%;
	margin: 0 auto;
	padding-top: 10px;
	position: relative;
}

.tab_container input.tab-inp, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

.tab_container label.tab-label {
  font-size: 14px;
  display: block;
  float: left;
   
  padding:20px;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #fff;
}
.tab_container label.tab-label{font-weight:300;}
.tab_container #tab1:checked ~ #content1,
.tab_container #tab2:checked ~ #content2,
.tab_container #tab3:checked ~ #content3,
.tab_container #tab4:checked ~ #content4,
.tab_container #tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content{
	min-height:500px;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h4  {
  
  font-weight:300;
}

.tab_container [id^="tab"]:checked + label.tab-label {
  background: #fff;
   border-bottom: 2px solid #5363C0;
}

.tab_container [id^="tab"]:checked + label.tab-label .fa {
  color: #0CE;
}

.tab_container label.tab-label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label.tab-label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  label span {
     
  }

  label.tab-label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}






/** switch **/
.switch{
	position:relative;
}

.switch label{
	width:45px;
	height:18px;
	position:absolute;
	top:0;
	left:0;
	border-radius:50px;
}

.switch label.style3{
	background:#E25368;
}


.switch input[type="checkbox"]{
	visibility:hidden;
	
}

/** circle **/
.switch label:after{
	content:"";
	width:16px;
	height:16px;
	border-radius:50px;
	position:absolute;
	top:1px;
	left:1px;
	background:#fff;
	transition:all 0.1s;
}

/** how far it will go **/
.switch input[type="checkbox"]:checked + label:after{
	left:28px;
}

.switch input[type="checkbox"]:checked + label.style3{
	background:#45B89B;
}







/** notice **/
.notice-author-img-cover{width:60px;height:60px;}
.notice-author-img-cover img{width:100%;border-radius:50%;border:1px solid #ddd;}
p.author-name{font-size:13px;margin:15px 0 10px 0;}
p.author-name span{color:#4FA1FF;font-weight:500;}
.notice-desc{}
.notice-desc p{font-size:14px;line-height:30px;}







/** routin setup **/
.routine-wrapper{ width:100%;}
.single-day-wrapper{ }
.day-wrapper{background:#f8f8f8; height:120px;text-align:center; padding:25px;}
.day-wrapper h5{text-transform:uppercase;color:#222;font-size:13px;font-weight:300; padding-top:28px;}
.day-wrapper p{text-transform:uppercase;color:#fff;font-size:10px;font-weight:300;padding:10px 0 0 0;}


.single-routine-wrapper{margin-bottom:10px; width:100%; position:relative;}
.single-routine-wrapper .time-wrapper p{font-size:12px;font-weight:300;}
.single-routine-wrapper .edit-panel{width:100%;height:150px;background:rgba(44,62,80,0.0);position:absolute;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;top:0%;padding:15px;}
.single-routine-wrapper:hover .edit-panel{ transition:0.3s;top:0;}
.single-routine-wrapper:hover .edit-panel h3{display:none;}
.single-routine-wrapper .edit-panel h3{display:none;text-align:center;margin:35px 0;}
.single-routine-wrapper .edit-panel h3 a{}
.single-routine-wrapper .edit-panel h3 a i{background:#fff;color:#34495e;border-radius:50%;font-size:13px;padding:10px;}

.time-wrapper{background:#f8f8f8;width:100%;text-align:center;}
.time-wrapper p{color:#222;font-weight:800;padding:10px 0;}

  
.sub-wrapper{text-align:center;}  
.sub-wrapper span{margin:2px;font-size:12px;padding:5px 8px;display:inline-block;background:#e7e7e7;color:#222;}  





/** account profile **/
.account-profile-wrapper{background:#fff; margin-bottom:35px;border:1px solid #e7e7e7;}
.account-profile-wrapper .header{ margin-bottom:10px;border-bottom:1px solid #e7e7e7;}
.account-profile-wrapper .header h5{padding:10px 15px;font-weight:300;}
.account-profile-wrapper .header .action-btn-cover{margin:13px 10px 0 0px;}
.account-profile-wrapper .header .action-btn-cover a{text-decoration:none;text-align:center;outline:0;}
.account-profile-wrapper .header .action-btn-cover a i{line-height:28px;color:#222;background:#fff;border:1px solid #ddd;width:30px;height:30px;border-radius:50%;}
.account-profile-wrapper .account-body{padding:15px;}
.account-profile-wrapper .img-wrapper{text-align:left;margin-bottom:30px;}
.account-profile-wrapper .img-wrapper img{width:100px;height:100px;border-radius:50%;border:5px solid rgba(5,5,5,0.2);}
.account-profile-wrapper table tr th{border:0;font-weight:400;border:0}
.account-profile-wrapper table tr td{border:0;}























/** dropdown acount log out notify **/


/** dropdown button **/
.admin-dropdown-cover{position:relative;margin:15px 10px 10px 0;}
.admin-dropdown-cover .dropdown-btn-cover{}
.admin-dropdown-cover .dropdown-btn-cover a.dropdown-toggle{font-size:12px;background:#fff;border:0;color:#2C3E50;font-size:15px;}
.admin-dropdown-cover .dropdown-btn-cover ul.dropdown-menu{width:300px;padding:0;margin:0;position:absolute;right:0;top:60px;left:-200px;}
.admin-dropdown-cover .dropdown-btn-cover ul.dropdown-menu li{}
.admin-dropdown-cover .dropdown-btn-cover ul.dropdown-menu li a{background:#fff;font-size:12px ;color:#222;text-decoration:none;display:block;padding:15px 18px;transition:.3s all ease-in-out;}
.admin-dropdown-cover .dropdown-btn-cover ul.dropdown-menu li p{font-size:12px;font-weight:500;color:#565656;padding:15px 15px;transition:.3s all ease-in-out;background:#ECF0F6;}
.admin-dropdown-cover .dropdown-btn-cover ul.dropdown-menu li p i{margin-right:15px;}
.admin-dropdown-cover .dropdown-btn-cover ul.dropdown-menu li a:hover{background:#ECF0F6;transition:.3s all ease-in-out;}
.admin-dropdown-cover .dropdown-btn-cover ul.dropdown-menu li a i{margin-right:10px;}
.admin-dropdown-cover .dropdown-btn-cover ul.dropdown-menu li a span{color:#fff;font-size:9px;border-radius:50%;padding:5px 7px;position:absolute;right:10px;}
.admin-dropdown-cover .dropdown-btn-cover ul.dropdown-menu li a span.badge-green{background:#73C280;}
.admin-dropdown-cover .dropdown-btn-cover ul.dropdown-menu li a span.badge-red{background:#D9534F;}
.admin-dropdown-cover .dropdown-btn-cover ul.dropdown-menu li a img{width:28px;height:28px;border-radius:50%;margin-right:10px;}

.admin-dropdown-cover .dropdown-btn-cover ul.right-aligned{margin-left:-60px;}
.admin-dropdown-cover a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: none;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}


.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
background-color: transparent; 
color:#222;
}








/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
