.account-slider .slider img {
    width: 100% !important;
    object-fit: initial;
}
.account-slider .arrow-slide img {
    width: 25px !important;
    height: auto;
}
.account-slider .arrow-right.arrow-slide {
    right: 0;
}
.account-slider .arrow-left.arrow-slide {
    left: 0;
}
.account-title {
    text-align: center;
}
.account-sidebar h4 {
    text-align: center;
    color: #030303;
    font-family: "PlayfairDisplay-Bold";
    font-size: 30px;
}
.account-sidebar h3{
    font-family: "PlayfairDisplay-Regular";
    font-size: 28px;
    color: #030303;
}
.account-title h4 {
    margin-bottom: 25px;
}
.account-title h5, .emaillabel .email {
    color: #4f4f4f;
    font-size: 17px;
    font-family: "helvetica-light";
}
.emaillabel, span.nameSpan{
    font-weight: bold;
    color: #4f4f4f;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .account-sidebar, .containerLogin {
        margin-top: 100px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .account-sidebar, .containerLogin {
        margin-top: 100px;
    }
}
