.emaillabel, .email, .account-title h5 {
    color: #4f4f4f;
    font-size: 20px;
    font-family: "Helvetica-light";
    text-align: center;
}
.account-title h4 {
    color: #030303;
    font-size: 20pt;
    text-align: center;
    font-family: "PlayfairDisplay-Bold";
    margin-bottom: 30px;
}
.titles-section{
    background-color: #eae9e9;
    height: 100%;
}
.account-title {
    padding: 35px 0;
}