.shopping-card {
  position: absolute;
  right: 0;
  background: #ffffff;
  height: 100%;
  display: none;
  z-index: 999;
  width: 27%;
  padding: 25px;
}
.card-show {
  display: block;
  opacity: 1;
}

.arrowLeft img {
  width: 16px;
  height: auto;
  cursor: pointer;
}
.arrowLayer img {
  width: 30px;
  height: auto;
}
.shopping-img img {
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
}
.heading_shop {
  margin-bottom: 65px;
  margin-top: 15px;
}
.shopping-head.text-center h3 {
  font-family: "PlayfairDisplay-Bold";
  font-size: 32px;
  color: #030303;
}
.arrowLeft, .arrowLayer {
  margin-top: 5px;
}

.shopping-text {
  text-align: center;
}
.shopping-img {
  width: 100%;
  height: 100%;
}
.Shopping-text p{
  color: #4f4f4f;
  font-family: "helvetica-light";
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
}
.Shopping-text h5 {
  font-family: "PlayfairDisplay-Bold";
  font-size: 20px;
  color: #030303;
  text-align: center;
}
.Shopping-text .priceProduct, .quantity {
  text-align: center;
  font-family: "helvetica-light";
  font-size: 16px;
  color: #4f4f4f;
}
.Shopping-text .quantity span {
  color: #000;
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}
.Shopping-text .learn-more button {
  font-size: 16px !important;
  outline: none;
}
span.estimateTotal {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
span.estimateTotal h6 {
  text-align: center;
  font-family: "helvetica-light";
  font-size: 17px;
  color: #111111;
}