
.shopping-card {
  position: fixed;
  right: 0;
  background: #ffffff;
  height: 100%;
  width: 0;
  z-index: 999;
  padding-top: 25px;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.shopping-card::-webkit-scrollbar {
  display: none;
}

.card-show {
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 27%;
}

.arrowLeft img {
  width: 16px;
  height: auto;
  cursor: pointer;
}
.arrowLayer img {
  width: 30px;
  height: auto;
}
.shopping-img img {
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.heading_shop {
  margin-bottom: 65px;
  margin-top: 15px;
}
.shopping-head.text-center h3 {
  font-family: "PlayfairDisplay-Bold";
  font-size: 38px;
  color: #030303;
}
.arrowLeft,
.arrowLayer {
  margin-top: 5px;
}

.shopping-text {
  text-align: center;
}
.shopping-img {
  width: 100%;
  height: 100%;
}
.Shopping-text p {
  color: #4f4f4f;
  font-family: "helvetica-light";
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
}
.Shopping-text h5 {
  font-family: "PlayfairDisplay-Bold";
  font-size: 20px;
  color: #030303;
  text-align: center;
  margin-bottom: 15px;
  margin-top: -10px;
}
.Shopping-text .priceProduct,
.quantity {
  text-align: center;
  font-family: "helvetica-light";
  font-size: 16px;
  color: #4f4f4f;
  margin-bottom: 5px;
}
.Shopping-text .quantity span {
  color: #000;
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}
.Shopping-text .learn-more button {
  font-size: 16px !important;
  outline: none;
}

div.estimateTotal h6 {
  /* text-align: center; */
  font-family: "helvetica-light";
  font-size: 20px;
  color: #fff;
  line-height: 20px;
}
div.estimateTotal {
  position: fixed;
  bottom: 0;
  background: #000;
  padding: 30px 20px 20px;
  border: 1px solid #000;
  width: inherit;
}
.visit-retailer button {
  font-size: 16px;
  padding: 8px 20px;
}
div.estimateTotal .margin-custom {
  margin-bottom: 0 !important;
}
.visit-retailer {
  margin-top: 10px;
}
.cart-item {
  margin-bottom: 8px;
  margin-top: 8px;
  border-bottom: 1px solid #dadada;
}
.Shopping-text {
  margin-top: 12px;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .shopping-card.card-show {
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
  }
  .text-fav {
    float: none;
  }
  div.estimateTotal {
    width: 100%;
    position: relative;
  }
  .shopping-head h3 {
    font-size: 18px !important;
  }
  h6.text-right.totalHeading {
    text-align: left !important;
  }
  .shopincards.shopingpostion{
    height: 83vh;
    overflow: scroll;
  }
}
@media screen and (max-width: 359px) and (min-width: 320px) {
  .shopincards.shopingpostion{
    height: 81vh;
  }
}
@media screen and (max-width: 374px) and (min-width: 360px) {
  .shopincards.shopingpostion{
    height: 83vh;
  }
}
@media screen and (max-width: 450px) and (min-width: 414px) {
  .shopincards.shopingpostion{
    height: 83.7vh; 
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .card-show {
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    width: 48%;
    z-index: 9999;
  }
  .shopping-card{
    top: 0;
  }
}
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  div.estimateTotal {
    width: 100%;
    position: relative;
  }
  .shopincards.shopingpostion{
    height: 92vh;
    overflow: scroll;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1301px) {
  div.estimateTotal {
    width: 100%;
    position: relative;
  }
  .shopincards.shopingpostion{
    height: 89vh;
    overflow: scroll;
  }
}