@import "../../Asset/Fonts/fonts.css";

.board-name {
  max-width: 600px;
  max-height: 500px;
  margin: auto;
  background: #ffffff;
  -webkit-box-shadow: -2px 10px 117px -5px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: -2px 10px 117px -5px rgba(0, 0, 0, 0.29);
  box-shadow: -2px 10px 117px -5px rgba(0, 0, 0, 0.29);
}
.board-back img {
  position: absolute;
  top: 20px;
  left: 20px;
}
.board-back {
  position: relative;
}
.form-board {
  margin: auto;
  width: 100%;
  padding: 80px 112px;
}
.form-board h3 {
  padding-bottom: 50px;
  font-size: 32px;
  letter-spacing: 2px;
  color: #010101;
  font-weight: 700;
  font-family: "PlayfairDisplay-Bold";
  text-align: center;
}
.next-btn {
  padding-top: 30px;
}

input::placeholder {
  /* Firefox, Chrome, Opera */
  text-align: center;
  font-family: "Helvetica";
}
input::first-line {
  /* Firefox, Chrome, Opera */
  font-family: "Helvetica";
}

input {
  text-align: center;
}
.boardPadding {
  padding: 25px 15px 0;
}
