.shop-slider .image-slide h6 {
  color: #030303;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.shop-slider .image-slide p {
  font-size: 18px;
}
.home-wrapper {
  position: relative;
}
