.read-more button {
    background: #030303;
    color: #fcfaf9;
    border-radius: 50px;
    padding: 5px 41px;
    font-family: "Helvetica-bold";
    font-size: 24px;
    border: none;
}
.craete-img img {
    width: 100%;
    height: 500px;
}
.craete-img-learn img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.craete-text {
    text-align: center;
    /* margin: 155px 0; */
    padding: 0 20px;
}
.list-furniture ul li {
    display: inline-block;
    margin: 0 17px;
    font-size: 18px;
    font-family: "Helvetica";
}
.list-furniture ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 45px 0;
}
.craete-text h5 {
    font-size: 20px;
    color: #4f4f4f;
    font-family: "helvetica-light";
}
.craete-text h2{
    color:#030303;
    font-size: 32px;
    font-family: "PlayfairDisplay-Bold";
    /* text-transform: lowercase; */
    margin: 20px 0;
}
.craete-text h2::first-letter{
    text-transform: uppercase;
}
.craete-text p{
    color:#030303;
    font-family: "helvetica-light";
    font-size: 24px;
    line-height: normal;
}
.image-post-slide h3 {
    color: #030303;
    font-size: 24px;
    font-family: "PlayfairDisplay-Bold";
    margin: 25px 0;
    line-height: normal;
    /* text-transform: lowercase; */
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 65px;
}
.image-post-slide h3::first-letter{
    text-transform: uppercase;
}



.craete-text-hero {
    text-align: center;
    margin: 90px 0;
    padding: 0 20px;
}
.craete-text-hero h5 {
    font-size: 20px;
    color: #4f4f4f;
    font-family: "helvetica-light";
}
.craete-text-hero h2{
    color:#030303;
    font-size: 32px;
    font-family: "PlayfairDisplay-Bold";
    /* text-transform: lowercase; */
    margin: 20px 0;
}
.craete-text-hero h2::first-letter{
    text-transform: uppercase;
}
.craete-text-hero p{
    color:#030303;
    font-family: "helvetica-light";
    font-size: 24px;
    line-height: normal;
}

@media screen and (max-width: 767px) and (min-width: 320px){
    li.form-group.marginFlex {
        margin: 0;
    }
    .list-furniture ul li {
        line-height: 40px;
    }
    .craete-text-hero {
        margin: 35px 0;
    }
    /* .post-slide-main {
        margin-top: 0 !important;
    } */
    .homecreate .list-furniture {
        margin-top: 0 !important;
    }
    .craete-text-hero{
        margin: 70px 0px;
    }
}