.ins-area {
  background: #ebeae8;
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* margin: 40px 0; 
  margin-bottom: 40px;*/
  margin-top: -18px;
}
.inspired {
  padding: 75px 0;
}
.tab-index > ul li {
  display: inline;
  margin-right: 43px;
  font-family: "Helvetica";
  font-size: 18px;
}
.slider img {
  width: 100%;
  height: 269px;
  object-fit: cover;
  object-position: 100% 0;
}
.slide-desc {
  text-align: center;
  font-family: "Helvetica-light";
  font-size: 18px;
  color: #4f4f4f;
  margin-top: 15px;
}
.arrow-slide img {
  width: 25px;
  height: auto;
}

.arrow-slide {
  position: absolute;
  top: 35%;
}
.slider {
  position: relative;
  margin-top: 25px;
}
.inspired h2.ins-title {
  color: #030303;
  font-family: "Playfair Display";
}
