.learnbanner img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: 100% 100%;
}
.read-more button {
    background: #030303;
    color: #fcfaf9;
    border-radius: 50px;
    padding: 8px 25px !important;
    font-family: "Helvetica-bold";
    border: none;
    margin-top: 10px;
    font-size: 24px;
}
.learn-text{
    text-align: center;
    margin-top: 80px;
}
.learn-text h3 {
    font-size: 37px;
    color: #030303;
    font-family: "PlayfairDisplay-Regular";
    position: relative;
}
.learn-text h3:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background: #d7d5d5;
    top: 60px;
}


.learn-text h5 {
    font-family: "Helvetica-light";
    color: #4f4f4f;
    font-size: 18px;
    margin-top: 65px;
    margin-bottom: 30px;
}
.learn-text h2 {
    font-family: "PlayfairDisplay-Bold";
    color: #030303;
    font-size: 44px;
    /* text-transform: lowercase; */
    margin-bottom: 30px;
}
/* .learn-text h2::first-letter {
    text-transform: capitalize;
} */
.learn-text p {
    font-family: "Helvetica-light";
    color: #030303;
    font-size: 22px;
    line-height: normal;
    padding: 10px 80px;
}
@media screen and (max-width: 767px) and (min-width: 320px){
    .learn-text h2 {
        font-size: 26px;
        margin: 16px 0;
    }
    .learn-text h3 {
        font-size: 34px;
    }
    .learn-text p {
        padding: 0
    }
    .read-more button {
        margin-bottom: 25px;
    }
    .learnbanner img {
        width: 100%;
        height: 380px;
    }
    .craete-text-hero h2 {
        font-size: 20px;
    }
    .image-post-slide-learn p {
        font-size: 18px;
    }
    .homecreate .craete-text-hero{
        margin: 0;
    }
    .header-learn {
        padding-top: 100px;
    }
    .learn-text {
        margin-top:0px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px){
    .header-learn {
        padding-top: 125px;
    }
    .learn-text p{
        padding: 0;
    }
    .learn-text h2 {
        font-size: 30px;
    }
    .homecreate .craete-text-hero {
        margin: 0;
    }
    .tab-index .slider h3 {
        font-size: 16px;
    }
    .tab-index .arrow-slide {
        top: 20%;
    }
    li.form-group.marginFlex select.form-control {
        width: 100px !important;
    }
    .craete-text-hero h2 {
        font-size: 20px;
    }
    .craete-text-hero p {
        font-size: 18px;
    }
    .image-post-slide-learn p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}