@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");


.inspired-area{
    background-image: url('../../Asset/Images/inspired.png');
    width: 100%;
    height: 84vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    text-align: center;
}

.image-post-slide-ins h6{
    font-family: "Helvetica" ;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .inspired-area {
      height: 45vh!important;
  }

  }