.ins-area {
  background: #ebeae8;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: -18px;
}
.inspired {
  padding: 75px 0;
}
.slider img {
  width: 260px;
  height: 300px;
  object-fit: cover;
  object-position: 100% 0;
}

.arrow-slide img {
  width: 25px;
  height: auto;
}

.arrow-slide {
  position: absolute;
  top: 35%;
}

.slider {
  position: relative;
  margin-top: 25px;
}
.tab-index .slider {
  text-align: center;
}
.tab-index .slider h6 {
  margin-top: 15px;
  font-size: 20px;
  font-family: "Playfair Display";
  line-height: 24px;
}
.tab-index .slider p {
  color: #4f4f4f;
  font-size: 18px;
  font-family: "Helvetica-light";
  line-height: normal;
  display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab-index .slider h3 {
  color: #030303;
  font-family: PlayfairDisplay-Bold;
  font-size: 24px;
  margin-top: 30px;
  line-height: normal;
  /* text-transform: lowercase; */
}
/* .tab-index .slider h3::first-letter{
  text-transform: uppercase;
} */
@media screen and (max-width: 1024px) and (min-width: 768px){
  .slider img {
    height: 190px;
    width: 100% !important;
}
.arrow-slide img {
  height: auto !important;
  width: 25px !important;
}
li.logo-black.logoMobile {
  display: none;
}
.inspired-modal {
  width: 100% !important;
}
.shop-modal h3 {
  margin-left: 85px;
}
.go-btn button {
  font-size: 19px;
}
label.react-switch-label {
  display: none;
}
.titleInspire h4 {
  font-size: 19px;
}
.tab-index .slider {
  width: 95%; 
}
.tab-index .slider h6 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 17px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
div.email {
  font-size: 15px;
}
.home-area-shop {
  height: 52vh!important;
}
.inspired-fil {
  width: 60% !important;
}
/* .cross-icon img, .shop-furniture .cross-icon img {
  margin-top: -45px;
} */
/* .rangeslider input {
  width: 46%;
}
span.range_max.light.right {
  left: 43% !important;
  position: inherit;
} */
.colorStyle ul li {
  display: inline-block !important;
  margin-left: 27px !important;
}
.colorStyle ul {
  display: inherit !important;
}
}   
@media screen and (max-width: 767px) and (min-width: 320px){
  .slider img {
    width: 70% !important;
    object-fit: contain;
    object-position: inherit;
    margin-left: auto;
    margin-right: auto;
}
.arrow-slide img {
  width: 25px !important;
}
}