
.image-post-slide {
    text-align: center;
}

.image-post-slide p {
    font-family: "helvetica-light";
    color: #030303;
    font-size: 18px;
    line-height: normal;
}
.image-post-slide span {
    font-family: "helvetica-light";
    color: #4f4f4f;
    font-size: 18pt;
    line-height: normal;
}

