
.image-post-slide {
    text-align: center;
}

.image-post-slide p {
    font-family: "Helvetica-light";
    color: #030303;
    font-size: 16px;
    line-height: normal;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 60px;
}

.image-post-slide-three img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 100% 0;
}
.image-post-slide-three {
    text-align: center;
  }
  .image-post-slide-three h6 {
    margin-top: 15px;
    font-size: 24px;
    font-family: "PlayfairDisplay-Bold";
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: normal;
    text-transform: lowercase;
  }
  .image-post-slide-three h6::first-letter {
    text-transform: capitalize;
  }

  .image-post-slide-three {
    text-align: center;
  }
  
  .image-post-slide-three p {
    font-family: "Helvetica-light";
    color: #030303;
    font-size: 20px;
    line-height: normal;
  }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .image-post-slide-three img {
      height: 190px;
    }
  
    .image-slide img {
      display: block;
      width: 100%;
      height:225px;
    }
  }

