.list-furniture ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 45px 0;
}
.list-furniture {
    margin-top: 40px;
}

.list-furniture h4 {
    text-align: center;
    position: relative;
}

.list-furniture h4:before {
    content: "";
    position: absolute;
    width: 140px;
    height: 3px;
    margin-left: 54px;
    background: #d7d5d5;
    top: 70px;

}


span.bar {
    width: 16%;
    height: 3px;
    background: #d7d5d5;
    margin: auto;
    display: block;
    margin-bottom: 25px;
}

@media screen and (max-width: 767px) and (min-width: 320px){
    .list-furniture ul{
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;
        /* overflow-y: hidden; */

    }
    .list-furniture.shopHead {
        margin-top: 35px !important;
    }
    .craete-text{
        margin-bottom: 0;
        padding: 0;
    }
    .homecreate.twoSlide .craete-img img {
        width: 100%;
        height: 250px !important;
        object-fit: initial;
    }
    .craete-text h5 {
        margin-top: 20px;
    }
    .image-post-slide span {
        margin-bottom: 20px;
        display: inline-block;
    }
    
}
@media screen and (max-width: 1024px) and (min-width: 768px){
    .list-furniture ul, .inspired-slider ul, ul.shopTab{
        display: flex;
        overflow: scroll;
        white-space: nowrap;
    }
}