.ins-title {
    color: #030303;
    font-family: "Playfair Display";
    font-size: 2rem;
  }
  .berSlide {
    display: inline-block;
    width: 84%;
    height: 3px;
    background: #d7d5d5;
    margin-left: 30px;
  }
  
  .trending {
    float: left;
    margin-top: 6px;
    width: 13%;
  }