.realted-product {
  padding-top: 25px;
  background: #ebeae8 !important;
}

.related-title {
  font-weight: bold;
  font-family: "Playfair Display";
  padding-bottom: 30px;
  padding-top: 30px;
}
.realted-product .slide-main .row {
  margin-bottom: 0 !important;
}
