.realted-product {
  padding-top: 25px;
  background: #ebeae8 !important;
}

.related-title {
  
  font-family: "PlayfairDisplay-Bold";
  padding-bottom: 40px;
  padding-top: 45px;
}
.realted-product .slide-main .row, .realted-resourced .slide-main .row{
  margin-bottom: 0 !important;
}
.realted-resourced{
  background-color: #ebeae8;
}
