.title-with-logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.title-with-logo span.favIcon img {
    width: 25px;
    height: 25px;
}
.title-with-logo span.favIcon {
    position: absolute;
    right: 35px;
    top: 20px;
}


.product-price img {
    width: 68%;
    height: auto;
    object-fit: contain;
}
.product-price {
    text-align: center;
}
.text-blog-title h4 {
    color: #030303;
    font-size: 30pt;
    text-align: center;
    font-family: "PlayfairDisplay-Bold"; 
    margin-bottom: -45px;
}
.title-with-logo p {
    color: #030303;
    font-size: 24px;
    font-family: "Helvetica-light";
    text-align: center;
}
.heading-prodcut h4 {
    font-size: 24px;
    text-align: center;
    font-family: "Helvetica-light";
}

.product-price h4 {
    color: #030303;
    font-family: "PlayfairDisplay-Bold"; 
    font-size: 24px;
    margin: 10px 0;
}
.product-price h5 {
    color: #030303;
    font-family: "Helvetica-light";
    font-size: 20px;
    margin-bottom: 35px;
}
.s-t-a{
    border: 1px solid #d0c5bf;
    
    padding-top: 60px !important;
    margin-left: 40px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .mzero{
        margin: 0 !important;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
.blog-area {
    padding-top: 190px;
}
}