.title-with-logo img {
    width: 100%;
    height: 400px;
}
.title-with-logo img {
    width: 100%;
    height: 400px;
}
.title-with-logo span.favIcon img {
    width: 20px;
    height: 20px;
}
.title-with-logo span.favIcon {
    position: absolute;
    right: 30px;
    top: 10px;
}
.title-with-logo img {
    width: 100%;
    height: 400px;
}

.product-price img {
    width: 100%;
    height: 315px;
}
.product-price {
    text-align: center;
}