.go-btn button {
  background: #030303;
  color: #fcfaf9;
  border-radius: 50px;
  padding: 14px 41px;
  font-family: "Helvetica-bold";
  font-size: 20px;
  border: none;
}
.go-btn {
  text-align: center;
  padding-bottom: 15px;
}
.go-btn button:focus {
  outline: none;
}
