.form-group input {
  max-width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: #222;
   font-family: "Helvetica-light";
  text-align: left;
  padding-left: 10px;
}
.form-group input:focus,
.form-group .btn:focus {
  outline: none;
  box-shadow: none;
  text-align: left;
}
.invalid-feedback {
  display: block !important;
}
