.form-group input {
  max-width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: #222;
  margin-bottom: 31px;
  font-family: helvetica-light;
}
.form-group input:focus,
.form-group .btn:focus {
  outline: none;
  box-shadow: none;
}
.invalid-feedback {
  display: block !important;
}
