.post-slide-main {
  margin: 80px 0 45px;
}
.image-post-slide {
    text-align: center;
}


.image-post-slide span {
    font-family: "Helvetica-light";
    color: #4f4f4f;
    font-size: 18px;
    line-height: normal;
}

.image-post-slide-learn h3{
  font-family: "PlayfairDisplay-Bold";
  font-size: 24px;
  padding-top: 30px;
}

.image-post-slide-learn img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: 100% 0;
}
.image-post-slide-learn {
    text-align: center;
  }
  .image-post-slide-learn h6 {
    margin-top: 15px;
    font-size: 24px;
    font-family: "PlayfairDisplay-Bold";
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: normal;
    text-transform: lowercase;
  }
  .image-post-slide-learn h6::first-letter {
    text-transform: capitalize;
  }

  .image-post-slide-learn {
    text-align: center;
    padding-top: 30px;
  }
  
  .image-post-slide-learn p {
    font-family: "Helvetica-light";
    color: #030303;
    font-size: 20px;
    line-height: normal;
  }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .image-post-slide-learn img {
      height: 190px;
    }
  
    .image-slide img {
      display: block;
      width: 100%;
      height:225px;
    }
  }