ul.list-categroy-shop {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul.list-categroy-shop li {
    width: 20%;
}
ul.list-categroy-shop li button {
    background: #e9e8e8;
    border: none;
    width: 200px;
    margin-bottom: 21px;
    padding: 15px 0;
    font-size: 18px;
    border-radius: 50px;
    font-family: "Helvetica-light";
    outline: none;
}
.colorStyle ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.colorStyle ul li {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    float: left;
    border-radius: 50px;
}
.colorStyle ul li.red {
    background: #fd0000;
}
.colorStyle ul li.green {
    background: #fd7d00;
}
.colorStyle ul li.yellow {
    background: #fddc00;
}
.colorStyle ul li.black {
    background: #3f8d20;
}ul.list-categroy-shop {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul.list-categroy-shop li {
    width: 20%;
}
ul.list-categroy-shop li button {
    background: #e9e8e8;
    border: none;
    width: 150px;
    margin-bottom: 21px;
    padding: 12px 0;
    font-size: 18px;
    border-radius: 22px;
    font-family: "Helvetica";
    outline: none;
}
.colorStyle ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.colorStyle ul li {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    float: left;
    border-radius: 50px;
}
.colorStyle ul li.red {
    background: #fd0000;
}
.colorStyle ul li.green {
    background: #fd7d00;
}
.colorStyle ul li.yellow {
    background: #fddc00;
}
.colorStyle ul li.green {
    background: #3f8d20;
}
.colorStyle ul li.blue {
    background: #4157de;
}
.colorStyle ul li.purple {
    background: #7541de;
}
.colorStyle ul li.pink {
    background: #ecbaea;
}
.colorStyle ul li.black {
    background: #010101;
}
.colorStyle ul li.brown {
    background: #674d4d;
}
.colorStyle ul li.grey {
    background: #a49f9f;
}
.colorStyle ul li.offwhite {
    background: #f4f3ea;
}
.colorStyle ul li.white {
    background: #ffffff;
    border: 1px;
    border-color: black;
}
.colorStyle ul li.golden {
    background: #ccb079;
}
.colorStyle ul li.silver {
    background: #d8d5ce;
}

h5{
    font-family: "Playfair Display";
}
.category-list{
    height: 40%;
}
