*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "helvetica-light";
  src: url("../src/Asset/Fonts/Helvetica-Font/helvetica-light.ttf");
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("../src/Asset/Fonts/Helvetica-Font/Helvetica-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica";
  src: url("../src/Asset/Fonts/Helvetica-Font/Helvetica.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica-BoldOblique";
  src: url("../src/Asset/Fonts/Helvetica-Font/Helvetica-BoldOblique.ttf");
}
@font-face {
  font-family: "helvetica-compressed";
  src: url("../src/Asset/Fonts/Helvetica-Font/helvetica-compressed.otf");
}
@font-face {
  font-family: "Helvetica-Oblique";
  src: url("../src/Asset/Fonts/Helvetica-Font/Helvetica-Oblique.ttf");
}
@font-face {
  font-family: "helvetica-rounded-bold";
  src: url("../src/Asset/Fonts/Helvetica-Font/helvetica-rounded-bold.otf");
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../src/Asset/Fonts/Playfair_Display/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../src/Asset/Fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}
