.inspirModal{
    height: 500px;
    width: 500px;
    background-color: aliceblue;
}


.shopModal{
    height: 600px;
    width: 600px;
    background-color: aliceblue;
}
.image-post-slide {
    text-align: center;
}

.image-post-slide p {
    font-family: "Helvetica-light";
    color: #030303;
    font-size: 18px;
    line-height: normal;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 60px;
}

