.inspirModal {
  height: 500px;
  width: 500px;
  background-color: #fff;
  padding: 25px 10px;
  margin: auto;
}

.post-slide-main-item {
  margin: 30px 0 45px;
}

.shopModal {
  min-height: 50vh;
  width: 45%;
  background-color: #fff;
  padding: 5px 10px;
  margin: auto;
}
.image-post-slide {
  text-align: center;
}

.workimage-ins img {
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  /* object-fit: contain; */
}
.titleInspire .post-slide-main-item {
  height: 625px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 0;
  border-bottom: 1px solid #e7e7e7;
}
/* width */
.titleInspire .post-slide-main-item::-webkit-scrollbar {
  width: 5px;
 }

/* Track */
.titleInspire .post-slide-main-item::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.titleInspire .post-slide-main-item::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.titleInspire .post-slide-main-item::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.post-slide-main-item .workimage-ins.row img {
  height: 110px;
}
 
.box.boxoverlay {
  position: relative;
  border: none;
  width: auto;
  height: auto;
  padding: 3px;
}
.select-board-item {
  background: #888888;
}
.box.boxoverlay::before {
  position: absolute;
  content: "";
  top:0;
  left: 0;
  /* background-color: #000; */
  /* opacity: .1; */
  width: 100%;
  height: 100%;
}
.arrow-pag.left {
  position: absolute;
  left: 50px;
  bottom: -25px;
}
.arrow-pag.right {
  position: absolute;
  right: 50px;
  bottom: -25px;
}
.arrow-pag img {
  width: 14px;
  height: auto;
  cursor: pointer;
}
.titleInspire h4 {
  position: relative;
  font-size: 26px;
  color: #030303;
  font-family: "PlayfairDisplay-Bold";
  text-align: center;
}
.titleInspire button.filter {
  display: inherit;
  margin: auto;
  background: transparent;
  border: none;
}
.titleInspire button.filter {
  display: inherit;
  margin: auto;
  background: transparent;
  border: none;
  width: 100%;
  background-size: 10px;
  outline: none;
}
.btn-close-modal button img {
  width: 15px;
  height: auto;
}
.btn-close-modal button {
  border: none;
  float: right;
  margin-right: 12px;
  margin-top: 5px;
  outline: none;
  background: none !important;
}
.shop-furniture .list-furniture ul {
  margin: 0 0 10px !important;
}
.titleInspire button.filter.shopfilter {
  background-position: 120px 8px;
}
.workspace-shop img {
  width:100%; 
  height: 89px;
  -o-object-fit: contain;
     object-fit: contain;
}

.box{
  cursor: move;
  z-index: 8;
  position: relative;
 }
 .priority{
  z-index: 10;
 }
 .widthshopImage {
  width: 45%;
  float: left;
  margin-left: 5px;
}
.loading {
  display: none;
}
 @media screen and (max-width: 767px) and (min-width: 320px){
  .container-fluid.page-content.for-mobile .titleInspire h4 {
    display: none;
}
.shop-furniture .list-furniture ul.list-categroy-shop li {
  width: 46% !important;
  float: left !important;
  margin-bottom: 35px;
  margin-right: 12px !important;
}
.shop-furniture .list-furniture ul.list-categroy-shop li button{
  width: 100%;
}
.shop-furniture .list-furniture ul.nav.nav-pills {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
}
.range-slider {
  padding-right: 50px;
}
.widthshopImage {
  width: 100%;
  margin-left: 20px;
  min-width: 50%;
}
.styleformobile .titleInspire h4 {
  display: none;
}
.post-slide-main-item .workimage-ins.row img {
  width: 100%;
  height: 200px;
}
.loading {
  padding: 10px 30px 10px 15px;
  transform: translateY(35%);
  display: block;
}
.loading i{
  font-size: 30px;
}
}