.inspirModal{
    height: 500px;
    width: 500px;
    background-color: aliceblue;
}


.shopModal{
    height: 600px;
    width: 600px;
    background-color: aliceblue;
}
.image-post-slide {
    text-align: center;
}

.workimage img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
.titleInspire h4{
    position: relative;
    font-size: 36px;
    color: #030303;
    font-family: "PlayfairDisplay-Bold";
    text-align: center;
}
.titleInspire button.filter {
    display: inherit;
    margin: auto;
    background: transparent;
    border: none;
    background-image: url();
}
.titleInspire button.filter {
    display: inherit;
    margin: auto;
    background: transparent;
    border: none;
    background-image: url(../../../Asset//Images/arrow-down.png);
    background-repeat: no-repeat;
    background-position: 210px 11px;
    width: 100%;
    background-size: 10px;
    outline: none;
}