.auth-signup {
  max-width: 700px;
  max-height: 500px;
  margin: auto;
  background: #ffffff;
  -webkit-box-shadow: -2px 10px 117px -5px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: -2px 10px 117px -5px rgba(0, 0, 0, 0.29);
  box-shadow: -2px 10px 117px -5px rgba(0, 0, 0, 0.29);
}

.auth-signup .cross-icon {
  position: relative;
}

.auth-signup .cross-icon img {
  position: absolute;
  top: 30px;
  right: 25px;
  z-index: 10;
  cursor: pointer;
}
.have-account {
  margin-top: 65px;
}
.have-account h3 p {
  font-size: 22px;
  cursor: pointer;
}
.signup-left {
  max-width: 100%;
  overflow: hidden;
  padding: 22px 25px;
  background: #f4f3f3;
  /* height: 100%; */
}
signup-bg .signup-left h2 {
  font-size: 24px;
  letter-spacing: 1px;
  color: #030303;
  font-weight: 700;
  font-family: "Playfair Display";
  padding-top: 10px;
  padding-bottom: 25px;
}
.auth-signup h5 {
  font-size: 18px;
  letter-spacing: 1px;
  color: #030303;
  font-weight: bold;
  font-family: "Helvetica-Bold";
  margin-bottom: 15px;
}
.signup-item {
  font-size: 16px;
  letter-spacing: 1px;
  color: #030303;
  font-weight: 300;
  font-family: "Helvetica-light";
}
.signup-left > ul li.signup-item {
  padding: 10px 0;
}
.signup-left > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.signup-left > ul li img {
  width: 27px;
  height: auto;
  float: left;
  margin-right: 12px;
}
.signup-left > ul li.signup-item span.modd_board {
  display: block;
}
.have-account h6 {
  font-size: 14px;
  color: #030303;
  font-weight: 300;
  font-family: "helvetica-light";
  margin-bottom: 0;
}
.have-account h3 {
  margin-top: 5px;
  line-height: 25px;
}
.have-account h3 a {
  font-size: 18px;
  color: #030303;
  font-weight: bold;
  font-family: "Helvetica-Bold";
  text-decoration: none;
}
.success-error {
  font-size: 19px;
}
.signup-form {
  padding: 65px 20px;
  font-size: 18px;
  color: #030303;
  font-weight: lighter;
  font-family: "helvetica-light";
}
.signup-form input {
  max-width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 15px;
  color: #222;
   text-align: left;
}
.form-group {
  margin-bottom: 31px !important;
}

.signup-form input:focus,
.signup-form .btn:focus {
  outline: none;
  box-shadow: none;
}
.signup-form .btn-signup {
  background: #030303;
  color: #fcfaf9;
  border-radius: 21px 21px;
  font-family: "Helvetica-bold";
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 9px 26px;
}
.signup-form .btn-signup:hover {
  color: #fcfaf9;
}

.success-mess {
  color: green;
}
.success-error {
  color: red;
}
